<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">

    <base href="/">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ site.divd.colors.theme-color }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="assets/scss/main.css">
    <link rel="stylesheet" href="assets/scss/menu.css">
    {% comment %}
        <link rel="stylesheet" href="assets/css/mermaid.css">
    {% endcomment %}
</head>
<body>
    {% if site.divd.skip-to-content-link %}
        <a id="skip-to-content" href="#content">Skip to the content.</a>
    {% endif %}
    {% include menu.html %}

